@charset "UTF-8";


 
 main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(65, 19, 107, 0.712);
    width: 600px;
    padding: 10px;
    margin: auto;
}

  h1 {
    color: #3754e4;
    text-align: center;
    text-shadow: 1px 1px 2px #2131819a;

}

  h2 {
    color: #3B58EB;

}

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #3BB6F4,#3B58EB ) ;

  }

  p {
    text-align: justify;
}